CREATE DATABASE [PacktPub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PacktPub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PacktPub.mdf' , SIZE = 20480KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PacktPub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PacktPub_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [PacktPub]
GO
USE [PacktPub]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [PacktPub] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
